@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i&subset=latin-ext');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body,
html{
height: 100%;
}
body{
  width: 1000px;
  height: auto;
  background-image: url(hw3bg1blue.jpg);
  }
 .layout{
  width: 960px;
  height: 720px;
  margin: auto;
  margin-top: 50px;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-image: url(https://o.andrienko.org/hillel/fe2/hw3bg2.jpg);
  border-radius: 10px 10px;
  box-shadow: 0 16px 55px 0 rgba(0, 0, 0, 0.5)
 }
.layout>.register{
  width: 575px;
  height: 720px;
  position: relative;
  border-radius: 8px;
  
 }
.layout>.login{
 	height: 720px;
 	width: 385px;
 	background-color: rgba(31, 27, 27, 0.9);
 	border-radius: 0px 10px 10px 0px;
 	position: relative;
}
.layout>.register>.main_title{
  width: 274px;
  height: 27px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 0.47;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 58px 147px 0px 147px;
}
.layout>.register>.main_title span{
	font-weight: bold;
}
.layout>.register>.title2{
height: 18px;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 24px;
font-weight: 300;
line-height: 0.71;
color: #ffffff;
text-align: center;
margin: 241px 144px 0px 144px;
text-transform: uppercase;
}
.layout>.register>.title3{
height: 38px;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 14px;
line-height: 1.71;
color: #ffffff;
margin: 28px 112px 0px 112px;
text-align: center;
}
.layout>.register>.reg_button{
margin: 62px 160px 0px 160px;/*найти 10px*/
text-align: center;
}
.layout>.register>.reg_button button{
background-color: #813b18;
color: #fff;
}
.layout>.register>.reg_button button,
.layout>.login>.login_button button
{
width: 250px;
height: 40px;
text-transform: uppercase;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
font-family: 'IBM Plex Sans', sans-serif;
line-height: 1.5;
text-align: center;
border:none;
border-radius: 20px;
font-size: 16px;
}
.layout>.login>.login_button{
margin: 126px 68px 0px 67px;
text-align: center;
}
.layout>.login>.login_button button{
background-color: #fff;
color: #010101; 
}
.layout>.login>.title_log{
margin: 173px 0px 0px 120px;
height: 24px;
font-family: 'IBM Plex Sans',sans-serif;
font-size: 24px;
font-weight: 300;
line-height: 0.71;
color: #ffffff;
}
.layout>.login>.input_field{
margin: 60px 61px 0px 74px;
}
.layout>.login>.input_field>.input_field1,
.layout>.login>.input_field>.input_field2
{
margin: 0px 0px 10px 0px;
  
}
.layout>.login>.input_field>.input_field1 input,
.layout>.login>.input_field>.input_field2 input{
width: 250px;
height: 40px;
border: 1px solid #fff;
border-radius: 20px;
font-size: 16px;
background-color: transparent;
}
.layout>.login>.input_field>.input_field1 input::placeholder,
.layout>.login>.input_field>.input_field2 input::placeholder{
width: 72px;
height: 13px;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 1.06;
color: #fff;
text-align: left;
padding: 13px 0px 14px 21px;
}
footer{
margin: 162px  122px 0px 122px;
width: 141px;
height: 14px;
font-family: 'IBM Plex Sans', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 1.21;
text-align: center;
color: #ffffff;
}
